:root {
    --blue: #60a5fa;
    --globalFont: 'Noto Sans', sans-serif;

    --cardColor: #60a5fa;
    --avaColor: #60a5fa;
}


html, body, .leftContainer, .rightContainer, .bodyContainer {
    display:flex;
    padding: 0;
    margin: 0;
    
}
.leftmenu1Container {
    margin-bottom: 60px;
}

.leftmenu1, .leftmenu2 {
    display:flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    gap:20px;

    padding-left: 30px;
}

.dashboardtxt {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.leftmenu1 > li > a, .leftmenu2 > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    
}


.leftmenu1 > li, .leftmenu2 > li {
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:10px;
    font-size: 12px;
    
   
  
    
    
}

.leftmenu1Container > *, .leftmenu2Container > * {
    color: white;
    display:flex;
}

.bodyContainer {
    display:flex;
    flex-grow: 1;
    
    
    
}

.leftContainer {
    background: var(--blue);

    display:flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    box-shadow: 5px 0px 5px -5px #888;


}


.dashboardLogo {
    margin-left: 10px;
    margin-bottom: 30px;
}

.dashboardLogo, .logo {
    color: white;

    display:flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    
}


.dashboardLogo, .leftmenu1Container {
    margin-right: 40px;
}


/** right container **/

.rightContainer {
    display:flex;
    width:100%;
    flex-direction: column;
    flex-grow: 1;
    height:100%;
    
}

.leftContainer {
    height:auto;
}

.leftmenu1Container, .dashboardLogo {
    display:flex;
    
}
.bottomrightFlex, .leftmenu2Container{
    display:flex;
    flex-grow: 1;
    
}

.topRightContainer {
    margin-right: 0px;
    display:flex;
    flex-direction: column;
}


.topRightContainer, .bottomRightContainer{
    
    
    
    padding: 10px 15px 10px 15px;
    
    gap:5px;
    
}

.tophalfContainer, .bottomhalfContainer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;

}

.userInfo {
    display:flex;
    align-items: center;
    gap:5px;
    flex-grow: 1;
}
.rightUserInfo {
    align-items: flex-start;
    flex-grow: 1;
}

.leftUserInfo {
    display:flex;
    color: var(--blue);
}

.rightUserInfoSmall {
    
    font-size: 10px;
    font-weight: bold;
}

.rightUserInfoBig {
    font-size: 16px;
    font-weight: bold;
}

.userAvatar {
    display:flex;
    align-items: center;
    gap:20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.userAvatarSvg {
    color: var(--blue);
}

.rightUserInfo, .rightUserInfo * p{
    font-family: 'Noto Sans', sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.searchbar {
    display:flex;
    flex-grow: 1;
    
    
}
.searchButton {
    cursor: pointer;
    background-color: white;
    border: 0;
    padding: 0;
    margin: 0;
}



.searchbar > form {
    display:flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.searchbar form > input {
    flex: 1 0 0;
    background-color:#e2e8f0;
    border-radius: 10px;
    border: 0;
    height:1rem;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    
}

.uiButtons {
    display:flex;
    gap:15px;
}

.uiButtons > button {
    width:100px;
    cursor: pointer;
    background: var(--blue);
    font-weight: bold;
    color: white;
    font-family: var(--globalFont);
    border: 0;
    border-radius: 17px;
    padding: 8px 20px 8px 20px;
}


.uiButtons, .userAvatar {
    width: 330px;
    justify-content: flex-end;

}

.bottomrightFlex {
    display:flex;
}

.bottomRightContainer {
    background-color:#e2e8f0;
    margin-right: 0;
    display:grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 1.5fr;
    padding-bottom: 40px;
    
    
    
}

.card, .sideBarGrid, .trendingGrid, .topRightContainer {
    position: relative;
    box-shadow: 0px 5px 5px -5px #888;
}

.card {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    border: 0px solid white;
    border-radius: 7px;
    border-left: 8px solid var(--avaColor);
    font-family: var(--globalFont);
    background-color: white;
    
    
}

.cardtxt > p {
    margin-bottom: 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.cardtxt > p > br {
    display:block;
    margin-top: 5px;
    content:'';
    
}

.cardtxt {
    font-size: 14px;
}

.announcement {
  
    border: 0;
    border-bottom: 3px solid black;
    height:100px;
    background-color: white;
    
   
    
    
    
}
.announcement > p > b {
    font-size: 14px;
}

.announcement > p {
    font-family: var(--globalFont);
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    
    
    
    
}

.cardBtns, .cardtxt {
    padding: 10px;
}

.cardBtns {
    justify-self: end;
}



.mainContent {
    display:grid;
    row-gap: 20px;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    

    grid-row: 2/9;
    grid-column: 1/3;
}

.projectHeader {
    grid-column: 1/2;
    grid-row: 1/1;
    
    
}

.announcementHeader {
    grid-column: 3/3;
    grid-row: 1/1;
}

.trendingHeader {
    grid-column: 3/3;
    grid-row: 5/5;
}

.projectHeader, .announcementHeader, .trendingHeader {
    margin-bottom: -10px;
}

.projectHeader > p, .announcementHeader > p, .trendingHeader > p {
    display:flex;
    margin: 0;
    padding: 5px 0px 0px 0px;
    font-family: var(--globalFont);
    font-weight: bold;
    
}

.announcementContent1 {
    display:grid;
    grid-template-columns: 1fr;
    
}

.sideBarGrid, .announcementHeader, .trendingHeader, .trendingGrid {
    margin-right: 15px;
} 

.sideBarGrid {
    display:grid;
    grid-template-columns: 1fr;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

    grid-column: 3/3;
    grid-row: 2/5;
}

.trendingGrid {
    display:grid;
    grid-template-columns: 1fr;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    
    grid-column: 3/3;
    grid-row: 6/9;

}

.trending {
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:5px;
    padding: 10px 10px 5px 10px;

}
.trendingUser {
    display:flex;
    flex-direction: column;
    
}

.smalltrending {
    font-size: 10px;
    font-weight: bold;
}

.bigtrending {
    font-size: 12px;
}

.smalltrending > p, .bigtrending > p {
    display:flex;
    justify-content: flex-start;
    margin: 0;
    font-family: var(--globalFont);
}

.trendingAvatar {
    display:flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

}
.trendingUser {
    padding: 5px;
    display:flex;
    flex-direction: column;
    margin: 0;
   
   
}


.announcementContent1 > .announcement {
    padding: 10px;
   
}

